.carrito-section {

    background: #f8f9fa;

    min-height: 100vh;

}


.resumen {

    background: white;

    padding: 30px;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);

}


.resumen h3 {

    font-weight: 700;

}


.btn-primary {

    background: #0A4A8A;

    border: none;

    padding: 15px;

    border-radius: 10px;

}

.card img {

    height: 220px;

    object-fit: cover;

}

.card {

    border: none;

    border-radius: 20px;

}

.btn-outline-primary,
.btn-outline-secondary {

    width: 45px;
    height: 45px;

    border-radius: 50%;

    font-size: 22px;

    font-weight: bold;

}

.fs-5 {

    min-width: 120px;

    text-align: center;

}